<ul class="navbar-nav">

    @if (User.Identity.IsAuthenticated)
    {
        <li class="nav-item no-click">
            <div class="nav-link">Hello @User.Identity.Name!</div>
        </li>
        <li class="nav-item">
            <form class="form-inline" asp-page="/Logout" method="post">
                <button type="submit" class="nav-link btn btn-link">Logout</button>
            </form>
        </li>
    }
    else
    {
        <li class="nav-item active">
            <a class="nav-link" asp-page="/Login">Login</a>
        </li>
    }

</ul>