/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

.btn-primary {
    background-image: none;
    background-color: #7DB2D6;
    border: solid 1px #7DB2D6;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    margin: 0;
    padding: 0;
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

li.nav-item.no-click > div.nav-link {
    cursor: default;
}

li.nav-item.no-click > div.nav-link:hover {
    color: rgb(170, 170, 170);
    background-image: none;
}

div#chat ul.list-group.list-group-flush.chat-messages > li {
    color: #aaa;
    text-align: left;
    background-color: #3A3F44;
    margin: 5px 40px;
    border-radius: 5px;
}

.gutter {
    text-align: right;
    min-width: 2rem;
    border-right: 1px solid rgba(0, 0, 0, 0.1);
}

.message {

}

.chat {
    width: 100vw;
    height: 100vh;
    padding-top: 110px;
}

.chat-list {
    overflow: hidden;
    margin-bottom: 120px;
}

header {
    position: fixed;
    width: 100vw;
    z-index: 1;
}

.sig-header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    height: 100px;
}

.logo-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.logo {
    width: 75px;
    padding: 5px;
}

.logo > #signalr-svg {
    fill: #7DB2D6;
}

.post-container {
    position: fixed;
    z-index:1;
    width: 100%;
    bottom: 0;
    background: #3A3F44;
    border-top: black solid 1px;
    padding: 25px;
}

    .post-container input {
        border: solid 2px #7DB2D6;
        background-color: #3A3F44;
    }

    .post-container input:active {
        background-color: white;
    }
