/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */
:root {
    --signalr: #7DB2D6;
}


a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

.btn-primary {
    background-image: none;
    background-color: var(--signalr);
    border: solid 1px var(--signalr);
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    margin: 0;
    padding: 0;
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

li.nav-item.no-click > div.nav-link {
    cursor: default;
}

li.nav-item.no-click > div.nav-link:hover {
    color: rgb(170, 170, 170);
    background-image: none;
}

.chat-messages {
    padding-inline-start: 0;
    display: flex;
    flex-direction: column-reverse;

}

    .chat-messages > li {
        color: #aaa;
        text-align: left;
        background-color: #3A3F44;
        margin: 7px 40px;
        border-radius: 5px;
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        padding: 7px 0
    }

.list-enter-active,
.list-leave-active {
    transition: all .3s ease-out;
}

.list-enter,
.list-leave-to {
    line-height: 0;
    opacity: 0;
    transform: translateY(40px);
}

.gutter {
    padding: 0.75rem 1.25rem;
    text-align: right;
    min-width: 2rem;
    border-right: 3px solid var(--signalr);
    vertical-align: -webkit-baseline-middle
}

.message {
    padding: 0.75rem 1.25rem;
    vertical-align: -webkit-baseline-middle
}

.chat {
    position: absolute;
    bottom: 0;
    width: 100vw;
    max-height: 100%;
}

.arrow-container {
    display: inline-flex;
   align-items: center;
}

.arrow {
    width: 0;
    height: 0;
    border-top: 7px solid transparent;
    border-bottom: 7px solid transparent;
}

.arrow1 {
    border-left: 7px solid var(--signalr);
}

.arrow2 {
    position: absolute;
    margin-left: -4px;
    border-left: 7px solid #3A3F44;
}

.chat-list {
    margin-bottom: 145px;
    margin-top: 110px;
}

header {
    position: fixed;
    width: 100vw;
    z-index: 1;
}

.sig-header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    height: 100px;
}

.logo-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.logo {
    width: 75px;
    padding: 5px;
}

    .logo > #signalr-svg {
        fill: var(--signalr);
    }

.post-container {
    position: fixed;
    z-index:1;
    width: 100%;
    bottom: 0;
    background: #3A3F44;
    border-top: black solid 1px;
    padding: 25px;
}

    .post-container input {
        border: solid 2px var(--signalr);
        background-color: #3A3F44;
    }

    .post-container input:active {
        background-color: white;
    }

    .post-container .form-group {
        margin-bottom: 0;
    }
