.grid {
    display: grid;
    height: calc(100vh - 9.1rem);
    align-items: center;
    text-align: center;
    overflow: hidden;
    grid-template-rows: 1fr 6fr 1fr;
    grid-template-columns: repeat(3, 2fr);
    grid-gap: 1em;
}

.grid-logo {
    grid-row: 2;
    grid-column: 2;
    padding: 1.5rem;
}