<div class="user-info">
    <AuthorizeView>
        <Authorized>
            <div>
                <span class="username">@context.User.Identity.Name</span>
                <a class="sign-out" href="user/signout">Sign out</a>
            </div>
        </Authorized>
    </AuthorizeView>
</div>