@inherits LayoutComponentBase

<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary box-shadow mb-3">
        <div class="container">
            <div class="sig-header">
                <div class="logo-container">
                    <div class="logo">
                        <svg viewBox="0 0 275 275" id="signalr-svg" xmlns="http://www.w3.org/2000/svg"><path d="M135 0a135 135 0 1 0 42.59 263.14l-67-67 13.79-38.59h36.5a22.56 22.56 0 0 0 0-45.12H52.11v-1l55.76-55.75h1V74h52a60.89 60.89 0 0 1 2.93 121.7l49.36 49.37A135 135 0 0 0 135 0z" /></svg>
                    </div>
                    <div>
                        <span>BlazorR.Chat</span>
                    </div>
                    <LoginDisplay />
                </div>
            </div>
        </div>
    </nav>
</header>
<div>
    <main role="main">
        @Body
    </main>
</div>
