@inject NavigationManager Navigation

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">404 - page not found</h1>
        <p class="lead">Not sure what you're looking for, but it's not here...</p>
        <hr class="my-4" />
        <svg width="237" height="305">
            <image xlink:href="dotnet-bot_trampoline.svg" width="237" height="305"></image>
        </svg>
        <button class="btn btn-lg btn-primary float-right" @onclick="GoHome">
            <i class="pr-2 fas fa-home" aria-hidden="true"></i> Home
        </button>
    </div>
</div>

@code {
    void GoHome() => Navigation.NavigateTo("/");
}
