@page
@model IndexModel

<div id="chat" class="jumbotron">

    <div class="pb-lg-4">
        <ul class="list-group list-group-flush chat-messages">
            <li class="list-group-item" v-for="[id, value] in toArray(messages)" v-bind:id="id">
                <span class="gutter pr-lg-2 text-muted">{{value.user}}</span>
                <span class="message pl-lg-2">{{value.text}}</span>
            </li>
        </ul>
    </div>

    <form v-on:submit.prevent="postMessage">
        <div class="form-group">
            <div class="input-group mb-3">
                <input type="text" class="form-control" v-model="message">
                <div class="input-group-append">
                    <button class="btn btn-primary" type="submit">Post</button>
                </div>
            </div>
        </div>
    </form>

</div>