@page
@model IndexModel

<div class="chat" id="chat">
    <div class="pb-lg-4 chat-list">
        <transition-group name="list" tag="ul" class="chat-messages">
            <li class="chat-message" v-for="[id, value] in toArray(messages).slice().reverse()" v-bind:key="id">
                <div class="gutter pr-lg-2 text-muted ">{{value.user}}</div>
                <div class="arrow-container">
                    <span class="arrow arrow2"></span>
                    <span class="arrow arrow1"></span>
                </div>
                <div class="message pl-lg-2">{{value.text}}</div>
            </li>
        </transition-group>
    </div>


    <section class="post-container">
        <form v-on:submit.prevent="postMessage">
            <div class="form-group">
                <div class="input-group mb-3">
                    <input type="text" class="form-control" v-model="message" @@input="setTyping(true)">
                    <div class="input-group-append">
                        <button class="btn btn-primary" type="submit">Post</button>
                    </div>
                </div>
                <span class="text-muted" v-html="usersTyping"></span>
            </div>
        </form>
    </section>
</div>