@page "/login"
@model LoginModel

<div class="login text-center">
    <form method="post">
        <div class="container">
            <div class="row text-center">
                <div class="col-lg-4"></div>
                <div class="col-lg-4">
                    @foreach (var scheme in Model.AuthSchemes)
                    {
                        var name = scheme.DisplayName;
                        var className = name.ToLower();

                        <div class="row pt-4">
                            <button class="btn btn-lg btn-social btn-@className"
                                    type="submit" name="scheme" value="@scheme.Name">
                                <span class="fab fa-@className"></span> Sign in with @name
                            </button>
                        </div>
                    }
                </div>
                <div class="col-lg-4"></div>
            </div>
        </div>
    </form>
</div>