@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication

@inject NavigationManager Navigation

<AuthorizeView>
    <Authorizing>
        <div class="spinner-border ml-auto" role="status" aria-hidden="true"></div>
    </Authorizing>
    <Authorized>
        <button class="nav-link btn btn-link" @onclick="OnLogOut">Log out</button>
    </Authorized>
    <NotAuthorized>
        <a href="authentication/login">Log in</a>
    </NotAuthorized>
</AuthorizeView>

@code {
    void OnLogOut(MouseEventArgs args) =>
        Navigation.NavigateToLogout("authentication/logout");
}
