@attribute [Authorize]

<div class="chat" id="chat">

    <div class="pb-lg-4 chat-list">
        <transition-group name="list" tag="ul" class="chat-messages">
            <li v-for="[id, value] in toArray(messages)"
                v-bind:key="id" v-bind:class="{ greeting: value.isGreeting }">
                <div class="gutter pr-lg-2 text-muted">{{value.user}}</div>
                <div class="arrow-container">
                    <span class="arrow arrow2"></span>
                    <span class="arrow arrow1"></span>
                </div>
                <div v-bind:class="{ canEdit: isMyMessage(value.user) }"
                     class="message pl-lg-2" @@click="startEdit(value)">
                    <span v-html="value.text"></span>
                    <span class="text-muted" v-html="appendEdited(value)"></span>
                </div>
            </li>
        </transition-group>
    </div>

    <section class="post-container">
        <form v-on:submit.prevent="postMessage">
            <div class="form-row">
                <div class="form-group col-lg-10">
                    <div class="input-group input-group-lg mb-3">
                        <input type="text" class="form-control" placeholder="Type a message..."
                               v-model="message" @@input="setTyping(true)">
                        <div class="input-group-append">
                            <button class="btn btn-lg btn-primary" type="submit">Post</button>
                        </div>
                    </div>
                </div>
                <div class="form-group col-lg-2">
                    <div class="emoji float-right">
                        <span v-for="emoji in emojis" v-html="emoji"
                              @@click="appendToMessage(emoji)">
                        </span>
                        <span style="padding-left: 20px" data-toggle="modal" data-target='#settingsModal'>⚙️</span>
                    </div>
                </div>
            </div>
            <div class="form-row">
                <span class="text-muted" v-bind:class="{ flashing: isFlashing }"
                      v-html="usersTyping"></span>
            </div>
        </form>
    </section>
    @*<input hidden id="user" value="@context.User.Identity.Name" />*@

    <div class="modal fade" id="settingsModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Settings</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label for="range">Voice speed: {{voiceSpeed}}</label>
                            <input type="range" min=".25" max="3" v-model="voiceSpeed"
                                   step=".25" class="form-control-range" id="range" list="speeds">
                            <datalist id="speeds">
                                <option v-for="i in Array.from({ length: 12 }, (_, i) => (i + 1) * .25)">{{i}}</option>
                            </datalist>
                        </div>
                        <div class="form-group">
                            <label for="voices">Default voice</label>
                            <select class="form-control" id="voices" v-model="defaultVoice">
                                <option selected>Auto</option>
                                <option v-for="voice in speechSynthesis.getVoices()"
                                        :selected="voice.default"
                                        :value="voice.name">
                                    {{voice.name}}
                                </option>
                            </select>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Ok</button>
                </div>
            </div>
        </div>
    </div>
</div>
