@if (_authSchemes is { Count: > 0 })
{
    <div class="login text-center">
        <form method="post">
            <div class="container">
                <div class="row text-center">
                    <div class="col-lg-4"></div>
                    <div class="col-lg-4">
                        @foreach (var scheme in _authSchemes)
                        {
                            var name = scheme.DisplayName;
                            var className = name.ToLower();

                            <div class="row pt-4">
                                <a class="btn btn-lg btn-social btn-@className"
                                   href="#" @onclick="@(() => SignInAsync(scheme.Name))">
                                    <span class="fab fa-@className"></span> Sign in with @name
                                </a>
                            </div>
                        }

                    </div>
                    <div class="col-lg-4"></div>
                </div>
            </div>
        </form>
    </div>
}
else
{
    <LoadingIndicator LoadingMessage="Loading authentication providers, please wait..." />
}